.home {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .image {
  /* padding-bottom: 60px; */
}

.home .content {
  max-width: 35em;
}

.home .content h2 {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 42px;
  letter-spacing: 0.02em;
  color: #000;
  font-family: "Bitter", serif;
}
.header_span_1 {
  color: #e5b3fe;
  font-weight: 600;
  font-family: "Bitter", serif;
}
.header_span_2 {
  color: #000;
  font-weight: 600;
  font-family: "Bitter", serif;
}
.header_span_3 {
  color: #e5b3fe;
  font-weight: 500;
}
.home .content p {
  font-size: 15px;
  margin-top: 30px;
  font-weight: 500;
  line-height: 22px;
  color: #6e6e70;
}

.home .image img {
  max-width: 100%;
  padding: 30px;
}

.home .content .get_started_btn {
  background: #c4c7fb;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 2000px) {
  .home .content {
    max-width: 50em;
  }
  .home img {
    margin-left: 5em;
  }
}
