.editor {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.accordian_menu {
  width: 350px;
  max-height: 100vh;
  padding: 2em 0;
}
.brandlogo {
  position: absolute;
  top: 20px;
  left: 4px;
  width: 50px;
}

.editor:before {
  position: absolute;
  content: "";
  top: 0px;
  height: 100%;
  width: 3.5em;
}

.editor:before {
  left: 0px;
  background: #c4c7fb;
}

.editor_container {
  width: 70vw;
  height: 50vh;
  margin: auto;
  position: relative;
}

.document_title {
  border: none;
  position: absolute;
  top: 10%;
  left: 13%;
}
.document_title::placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: -0.015em;
  color: #cccccc;
}
.document_title:focus {
  outline: none;
}
.text_editor_header {
  /* position: relative; */
}
.document_btns {
  position: absolute;
  right: 37%;
  top: 70px;
  /* background-color: red; */
}
.document_btns button {
  border: none;
  background: none;
  margin: 0 10px;
  font-family: "Bitter";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.015em;
  vertical-align: middle;
  color: #b3b4c5;
}
.document_btns_icon {
  margin-right: 5px;
  width: 13px;
}
.save_doc_icon {
  margin-right: 5px;
}
.save_doc_icon path {
  fill: #b3b4c5;
}
.save_text {
  position: absolute;
  bottom: -6em;
  right: 11em;
  color: #b3b4c5;
  font-size: 13px;
  font-family: "Bitter";
}

.quill {
  display: flex;
  position: relative !important;
}
.ql-formats {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px;
  border-bottom: 1px solid #000;
}
.ql-toolbar.ql-snow {
  position: absolute !important;
  left: -5% !important;
  top: 50px !important;
  padding-left: 10px !important;
  border: none !important;
}

.ql-container {
  height: 33em !important;
  position: absolute !important;
  left: 15%;
  top: -2em !important;
  width: 60em !important;
  /* box-shadow: 0 12px 48px rgb(109 117 141 / 20%) !important; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px !important;
  border: none !important;
}
