.editor {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.brandlogo {
  position: absolute;
  top: 20px;
  left: 4px;
  width: 50px;
}

.editor:before {
  position: absolute;
  content: "";
  top: 0px;
  height: 100%;
  width: 3.5em;
}

.editor:before {
  left: 0px;
  background: #c4c7fb;
}

.editor_container {
  width: 70vw;
  height: 50vh;
  margin: auto;
  /* background-color: aquamarine !important; */
}

.document_title {
  border: none;
  position: absolute;
  top: 7%;
  left: 12%;
}

.document_title:focus {
  outline: none;
}
.document_btns {
  position: absolute;
  right: 40%;
  top: 7%;
}
.document_btns button {
  border: none;
  background: none;
  margin: 0 10px;
  font-family: "Bitter";
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.015em;
  vertical-align: middle;
  color: #b3b4c5;
}
.document_btns_icon {
  margin-right: 5px;
}
.document_copy {
}
.text_editor_header {
  /* display: flex; */
  /* width: 800px !important; */
  /* position: relative; */
}
/* .tox-tinymce {
  margin: auto;
  max-width: 800px;
}

.tox .tox-editor-container {
  flex-direction: row !important;
}

.tox .tox-toolbar__group {
  display: block !important;
}

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
  background: none !important;
}

.tox .tox-toolbar-overlord {
  background: none !important;
}

.tox .tox-statusbar {
  display: none !important;
}

.tox-editor-header {
  position: absolute !important;
  left: -22% !important;
  top: 20%;
  background: none !important;
  box-shadow: none !important;
}

.tox-tinymce {
  border: 2px solid #eee;
  overflow: visible !important;
}
.toolbar-class {

  margin: auto;
  flex-direction: column !important;
  position: absolute;
  left: 0%;
  top: 40%;
  transform: translateY(-50%, -50%);
}
.editor-class {
  width: 50em !important;
  margin: auto;
  
  position: absolute;
  left: 10%;
  top: 20%;
  height: 300px !important;
  box-shadow: 0 12px 48px rgb(109 117 141 / 20%);
}
.wrapper-class {
  display: flex;
}
.rdw-inline-wrapper {
  flex-direction: column;
}
.rdw-list-wrapper {
  flex-direction: column;
}
.rdw-editor-main {
  overflow: hidden !important;
} */
.quill {
  /* min-width: 600px; */
  display: flex;
  /* height: 50vh; */
  /* margin: auto; */
  /* background-color: #eee !important; */
  position: relative !important;
}

.text_editor_quill {
  /* display: flex; */
}
.ql-formats {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px;
  /* position: absolute !important; */
  /* left: 0 !important; */
  /* top: 50% !important; */
}
.ql-toolbar.ql-snow {
  /* display: flex !important;
  flex-direction: column !important; */
  /* background-color: red !important; */
  position: absolute;
  left: 0%;
  padding-left: 10px !important;
  border: none !important;
}

.ql-container {
  height: 30em !important;
  /* background-color: red; */
  position: absolute !important;
  left: 16%;
  top: -4em !important;
  width: 60em !important;
  box-shadow: 0 12px 48px rgb(109 117 141 / 20%) !important;
  border: none !important;
}
